.centalizar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.areaCadrastro{
    display: flex;
    flex-direction: column;
}

#formulario{
    display: flex;
    flex-direction: column;
}