.publicacoes{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.texto{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.projetos{
    background: white;
    border: 0.2px solid transparent;
}
.projetos:hover{
    border: 0.2px solid black;
}
.projetos img {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}
.projetos p{
    padding-left: 10px;
    padding-bottom: 10px;
}
.projetos p:nth-child(2){
    font-size: 30px;
}

/* Comentario do estagio */
.estagio{
    width: 30rem;
    height: 18rem;
    background: rgba(211, 210, 210, 0.836);
    display: flex;
    flex-direction: column;
}
.tituloPost{
    padding: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tituloPost h2{
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
}
.textoEstagio p{
    padding: 2%;
    text-align: justify;
}


.post{
    width: 30rem;
    height: 10rem;
    background: black;
}

.main img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* area de texto */
.editorTexto{
    width: 30rem;
    height: 10rem;
    background: rgba(135, 207, 235, 0.144);
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editorTexto p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#postagem{
    width: 100%;
    height: 7rem;
    resize: none;
    background: rgba(141, 236, 227, 0.267);
}


/* noticias */
.mainNoticias{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

hr{
    width: 50rem;
}

.postagens{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.projeto{
    display: flex;
    width: 100%;
    align-items: center;
}

.projeto img{
    width: 10rem;
    height: 10rem;
}
/* footer */
footer{
    width: 100%;
    height: 120px;
    margin-top: 30px;
    background: gray;
}



@media (max-width: 800px) {

.postagens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
hr{
    width: 30rem;
}
.projeto img{
    width: 8rem;
    height: 7rem;
}

}

/*---------------------Loading*/
.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: rgb(6, 75, 75);
    height: 50px;
    width: 50px;
  }
  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }