.ex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.project{
    background: #90cadd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project img{
    width: 40rem;
    height: 30rem;
}